body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    width: 100%;
    background-color: aquamarine;
    padding: 10px;
    box-shadow: 0 2px 5px black;
}
.navegacion ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 50px;
}
.navegacion ul li a {
    color: black;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
}
.navegacion ul li a:hover {
    color: blue;
    opacity: 0.7;
    transition: all 0.5 ease;
    border: 1px;
    padding: 6px;
}
#pantalla.dividida {
    display: flex;
    flex: 1;
    width: 100%;
}
.izquierda {
    
}